<map id="map" name="map">
    <area shape="circle" alt="B" title="" coords="304,478,26" href="" />
    <area shape="circle" alt="A" title="" coords="381,439,26" href="" />
    <area shape="circle" alt="on/off" title="" coords="74,166,6" href="" />
    <area shape="rect" alt="up" title="" coords="86,420,121,453" href="" />
    <area shape="rect" alt="left" title="" coords="53,454,84,488" href="moviedex_left" />
    <area shape="rect" alt="right" title="" coords="123,455,152,487" href="moviedex_right" />
    <area shape="rect" alt="down" title="" coords="86,490,122,519" href="" />
    <area shape="poly" alt="select" title="" coords="146,571,188,547,190,562,144,584,142,575" href="" />
    <area shape="poly" alt="start" title="" coords="216,572,261,546,258,564,209,584" href="/worldmap" />
</map>

<div class="map">
    <img src="<%=asset_path 'green.png'%>" alt="map" width=270 height=202>
     <div>
        <p class="moviedex_year">Year: <%= $selected[$game["index"]]["Year"] %></p>
        <p class="moviedex_genre">Genre: <%= $selected[$game["index"]]["Genre"]%></p>
        <p class="moviedex_director">Director: <%= $selected[$game["index"]]["Director"]%></p>
        <p class="moviedex_rate">Rate: <%= $selected[$game["index"]]["imdbRating"]%></p>
        <p class="moviedex_poster"><img src="<%= $selected[$game["index"]]["Poster"] %>" alt="Poster" width=95 height=95></p>
        <p class="moviedex_abstract">Abstract: <%= $selected[$game["index"]]["Plot"]%></p>
    </div>
</div>
